body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6f7ff;
}

header {
    background-color: #c4dadf;
    color: #2d2828;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #c4dadf;
    color: #2d2828;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    .table-container {
        text-align: center;
    }

    table {
        border-collapse: collapses;
        border-spacing: 0;
    }

    th,
    td {
        border: 1px solid black;
        padding: 8px;
    }
}

th,
td {
    border: 3px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


titre {
    text-align: center;
}

img {
    max-width: 100px;
    height: auto;
}